.messages {
    font-size: 20px;
    position: absolute;
    display: flex;
    top: 10vh;
    right: 1vw;
    width: 25vw;
    height: 70vh;
    background: black;
    color: white;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-wrap: break-word;
    flex-direction: column-reverse;
}
.msg-input{
    position: absolute;
    font-size: 20px;
    top: 80.1vh;
    right: 5.73vw;
    border: 1px solid black;
    height: 5vh;
    width: 20vw;
    
}
.msg-submit {
    position: absolute;
    height: 5.5vh;
    width: 5vw;
    font-size: 20px;
    right: 1vw;
    top: 80.1vh;
}
.single-message{
    display: flex;
    
}